$pageWidth: 731px; /*731px instead of 750 so left and right sidebars fit on most laptop sized screens
*/
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
